@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import "~bulma/sass/utilities/initial-variables";

$widescreen-enabled: false;
$family-sans-serif: 'Josefin Sans', sans-serif;
$body-size: $size-6;
$text: $black-bis;
$text-light: $black-ter;
$text-strong: $black;
$code: $black-ter;
$pre: $white;
$pre-background: $black-ter;

$blue: #00a8ff;
$yellow: #fbc531;
$green: #4cd137;
$red: #e84118;

@import "~bulma/bulma";

.has-navbar-fixed-top {
  margin-top: $navbar-height;
}

.pager {
  padding: 1.5rem 0;

  .button.active {
    @extend .button.is-link;
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;

  table {
    @extend .table;
    @extend .is-striped;
  }
}

.title {
  line-height: 1.5;
}

.content pre, pre {
  border-radius: 3px;
  padding: .5rem .8rem;
  margin: .5em 0;
  border: 1px solid #dcdde1;
  scrollbar-width: thin;
}

.anchor-link {
  display: none;
}

.post-content .content {
  ul {
    margin-bottom: .7rem;
  }

  li {
    p {
      margin-bottom: 0px;
    }
  }
}
