---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="About Me" description="..." />
  </head>
  <body class="has-navbar-fixed-top">
    <Header title="Not found" />
    <div class="main-section">
      <main class="container is-max-desktop main-content">
        <div class="content">
          <blockquote>Page Under Development</blockquote>
        </div>
      </main>
    </div>
    <Footer />
  </body>
</html>
