---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="has-navbar-fixed-top">
    <Header title={SITE_TITLE} />
    <div class="main-section">
      <main class="container is-max-desktop main-content">
        <div class="is-hidden-mobile" style="height: 10vh;"></div>
        <div class="columns">
          <div class="column is-4"></div>
          <div class="column is-4">
            <img src="/iqbal_tepat_sekali.png" />
          </div>
        </div>
        <div
          class="content has-text-centered"
          style="margin: auto; max-width: 640px;"
        >
          <h1>
            Hi, I'm <u>Iqbal</u>
            <span class="is-hidden-mobile">Mohammad Abdul Ghoni</span>
          </h1>
          <p>
            Lead Backend Software Engineer at <a href="https://dealls.com"
              >Dealls.com</a
            >. I draw cartoon and anime character as a hobby. I like crafting
            stuff, but it's not always code related (see <a href="/laboratory"
              >My Laboratory</a
            >). I like to write some notes for myself which maybe useful for you
            too (see <a href="/notebook">My Notebook</a>).
          </p>
        </div>
        <div class="is-hidden-mobile" style="height: 10vh;"></div>
      </main>
    </div>
    <Footer />
  </body>
</html>
